html {
    font-size: 62.5%;
}

body {
    background-color:lightslategray;
    font-family: 'Ubuntu' sans-serif;
}

/* working on header*/
header {
    background-color:black;
    background-size: cover;
    background-repeat: no-repeat;


}

/* styles for navigation*/
/* working on navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

}



/*styling for logo */
.navbar img {
    width: 40%;
}

/* styles for navigation links */
.nav-links {
    display: none;
    list-style: none;
}

.nav-links.active {
    display: flex;
    flex-direction: column;
}

.nav-links li {
    margin-bottom: 10px;

}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 3rem;
}
.nav-links a:hover{
    background-color: yellowgreen;
}

/* Humburger menu*/
/* Styles for the hamburger menu */
.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fa-facebook {
    font-size: 4rem;
    margin-left: 10rem;
    color: blue;
}

.fa-instagram {
    font-size: 4rem;
    margin-left: 10rem;
    color: red;
}

.hamburger {
    width: 100%;
    height: 4px;
    background-color: white;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    position: relative;
    right: 20px;
}

/* Styling for the active menu icon */
.menu-toggle.active .hamburger:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.menu-toggle.active .hamburger:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active .hamburger:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.hero {
    position: relative;
    
}
.hero img{
    width: 100%;
}
.hero video {
    width: 100%;
    display: none;
}

.hero h1 {
    position: absolute;
    align-items: center;
    left: 35%;
    top: 5%;
    color:black;
    width: 30%;
    font-size: 3rem;
}

.about {

    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: #333;

}
.about img{
    width: 40rem;
}

.about h2 {
    font-size: 3rem;
    color: darkred;

}

.about-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.about p {
    font-size: 2rem;
    color: black;
    width: 100%;
}

/* Styling for the services section */
.services {
    text-align: center;
}

.service-content  {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.service-content h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: black;
    margin-right: 5%;
}
.service-content p{
    font-size: 2rem;
}
.main-Service{
    max-width: 1170px;
    margin: auto;
    display: block;
    text-align: center;
}
.main-Service h2{
    font-size: 3rem;
    margin-top: 40px;
}
.main-Service p{
    font-size: 2rem;
    text-align: center;
}

.services-container {
    display: grid;
    grid-gap: 10px; /* Adjust the gap between items */
    margin-top: 1px;
    text-align: center;
    max-width: 1170px;
    margin: auto;
}
.service-wrapper {
    margin-top: 50px;
    background-image: url('images/NMAS.png');
    background-repeat: no-repeat;
    padding: 45%;
    text-align: center;
    background-position: center;
    color:white;
}

.service-wrapper h3 {
    font-size: 3rem;
    width: 50%;
    cursor: pointer;
    border: 1px solid black;
    position: absolute;
    left: 40%;
    background-color: black;

}


.service-wrapper h3:hover {
    background-color: #be1d1d;
}

.service-wrapper h3:active {
    transform: translateY(1px);
}

.service-wrapper-one {
    margin-top: 50px;
    background-image: url('images/Accounting.jpeg');
    background-repeat: no-repeat;
    padding: 45%;
    text-align: center;
    background-position: center;
    color:white;
}

.service-wrapper-one h3 {
    font-size: 3rem;
    width: 40%;
    cursor: pointer;
    border: 1px solid black;
    position: absolute;
    left: 38%;
    background-color: black;


}


.service-wrapper-one h3:hover {
    background-color: #be1d1d;
}

.service-wrapper-one h3:active {
    transform: translateY(1px);
}
.service-wrapper-two {
    margin-top: 50px;
    background-image: url('images/tax.png');
    background-repeat: no-repeat;
    padding: 45%;
    text-align: center;
    background-position: center;
    color:white;
}

.service-wrapper-two h3 {
    font-size: 3rem;
    width: 40%;
    cursor: pointer;
    border: 1px solid black;
    position: absolute;
    left: 40%;
    background-color: black;


}


.service-wrapper-two h3:hover {
    background-color: #be1d1d;
}

.service-wrapper-two h3:active {
    transform: translateY(1px);
}

.services a {
    text-decoration: none;
    color: black;
}
.services a:hover{
    background-color: yellowgreen;
}

.contact {
    padding: 20px;
    color: black;
}

.contact a {
    text-decoration: none;
    color: black;
    font-size: 80%;
}

.contact h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: darkgreen;
}

.contact p {
    font-size: 2rem;
}

article {
    margin-bottom: 15px;
}

article h3 {
    font-size: 2.5rem;
    margin-bottom: 5px;
}

article p {
    margin: 0;
    font-size: 2rem;
}

/* Form styles */
form {
    margin-top: 20px;
    font-size: 3rem;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 2.4rem;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 2.2rem;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="submit"]:focus {
    outline: none;
}

/* Footer styles */

footer {
    background-color:lightslategray;
    padding: 20px;
    text-align: center;
    
}

.contacts {
    display: block;
    background-color:lightslategray;
}

.contacts-details {
    flex-basis: 45%;
    padding-right: 20px; /* Adjust spacing between contact details and map */
margin-top: 40px;
}

.contacts-details h2 {
    margin-bottom: 10px;
    font-size: 4rem;
}

.contacts-details article {
    margin-bottom: 15px;
}

.contacts-details article a {
    font-size: 2rem;
    margin-bottom: 5px;
    margin-top: 15px;
    color: black;
}

.map{
    margin-top: 80px;
    margin-right: 50px;
}
.contacts-details p {
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 2rem;
}

.social-links a {
    margin-right: 10px; /* Adjust spacing between social media icons */
}

.appointment {
    margin-top: 15px;
}

.appointment a {
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid #45a049;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    font-size: 2rem;
}

.appointment a:hover {
    background-color: black;
}

.disclaimer {
    font-size: 2rem;
    margin-top: 20px;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

/* for services page*/
/* Section containing services */
.services-wrapper {
    display: grid;
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    max-width: 1170px;
    margin: auto;
    
}
.service-one li{
    list-style: circle;
 font-size: 16px;
 text-align: left;
 margin-left: 40%;

}

/* Individual service */
.service-one {
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    color: aliceblue;

}

/* Service titles */
.services-wrapper h3 {
    font-size: 18px;
    margin-bottom: 40px;
}

/* Service links */
.service-one  a {
    text-decoration: none;
    color:white;
    border: 2px solid red;
    border-radius: 3px;
    font-size: 18px;
    padding: 5px;
}
.service-one a:hover{
    background-color:gray;
    color: black;
}

/* Service description */
.services-wrapper p {
    font-size: 16px;
    margin-bottom: 15px;
}

/* Service lists */
.services-wrapper ul {
    list-style: none;
    text-align: center;
}

/* Service list items */
.services-wrapper li {
    margin-bottom: 5px;
}
.coint{
    text-align: center;
    border-top: 2px solid black;
}

/* "Book Appointment" button */
.container-wrapper a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    margin-left: 1%;
    margin-bottom: 10px;
}

.container-wrapper a:hover {
    background-color: black;
}
/*for about page
-
-
*/


.card {
    display: grid;
    grid-template-columns: repeat(autofit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    
}

.card-wrapper {
    border: 2px solid red;
    padding: 20px;
    border-radius: 50px;
    background-color:lightgray;
    color:black;
}
.card-wrapper img{
    width: 65%;
}
.card-wrapper h2{
    font-size: 4rem;
    color: darkred;
}
.card-wrapper:hover{
    background-color: black;
    color: silver;
}
.card-wrapper p{
    font-size: 1.5rem;
    margin-top: 20px;
}


/* Media query for larger desktop screens */
@media (min-width: 1200px) {
    

    .navbar {
        display: flex;
        align-items: center;
        max-width: 1170px;
        margin: auto;
    }
    
    .navbar img {
        width: 30%;
    }
    .nav-links {
        display: flex;
        list-style: none;
        margin: auto;
    }

    .nav-links li {
        margin-right: auto;
        /* Add some space between the list items */
    }

    .nav-links a {
        text-decoration: none;
        color: white;
        font-size: 2.5rem;
        margin-left: 100px;

    }

   

    .menu-toggle {
        display: none;
    }
    
    .hero img{
display: none;
    }

    .hero video {
        width: 100%;
        display: inline-block;
    }
    .hero-content h1 {
        font-size: 8rem;
        width: 50%;
        text-align: center;
        margin-left: -10%;
        position: absolute;
        color: #fff;
        background-color:black;
        opacity: 70%;

    }
    .about h2 {
        font-size: 4rem;
    }

    .about p {
        font-size: 2rem;
        text-align: center;
        margin-left: 100px;
        margin-right: 100px;
    }

    .about{
        max-width: 1170px;
        margin: auto;
    }
    footer {
        font-size: 4rem;
        max-width: 1170px;
        margin: auto;
        background-color: lightslategray;
    }
/* starting styling for services */
    .services{
        max-width: 1170px;
        margin: auto;
    }
.services h2 {
        font-size: 4rem;
       
    }
    .main-Service{
        max-width: 1170px;
        margin: auto;
        display: block;
        text-align: center;
    }
    .main-Service h2{
        font-size: 3rem;
        margin-top: 40px;
    }
    .main-Service p{
        font-size: 2rem;
        text-align: center;
    }
    
    .services-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
        grid-gap: 10px; /* Adjust the gap between items */
        margin-top: 50px;
    }
    .service-wrapper {
        margin-top: 50px;
        background-image: url('images/NMAS.png');
        background-repeat: no-repeat;
        padding: 40%;
        text-align: center;
        background-position: center;
        color:white;
    }
    
    .service-wrapper h3 {
        font-size: 2.5rem;
        width: 20%;
        cursor: pointer;
        border: 1px solid black;
        padding: 5px;
        transition: all 0.3s ease;
        position: absolute;
        left: 14%;
        background-color: black;
        border-radius: 10px;

    
    }
    
    
    .service-wrapper h3:hover {
        background-color: #be1d1d;
        font-size: 4rem;
    }
   
    
    .service-wrapper-one {
        margin-top: 50px;
        background-image: url('images/Accounting.jpeg');
        background-repeat: no-repeat;
        padding: 40%;
        text-align: center;
        background-position: center;
        color:white;
    }
    
    .service-wrapper-one h3 {
        font-size: 2.5rem;
        width: 20%;
        cursor: pointer;
        border: 1px solid black;
        padding: 5px;
        transition: all 0.3s ease;
        position: absolute;
        left: 39%;
        background-color: black;
        border-radius: 10px;

    
    
    }
    
    .service-wrapper-one h3:hover {
        background-color: #be1d1d;
        font-size: 3rem;
    }
    
    .service-wrapper-one h3:active {
        transform: translateY(0px);
    }
    .service-wrapper-two {
        margin-top: 50px;
        background-image: url('images/tax.png');
        background-repeat: no-repeat;
        padding: 40%;
        text-align: center;
        background-position: center;
        color:white;
    }
    
    .service-wrapper-two h3 {
        font-size: 2.5rem;
        width: 20%;
        cursor: pointer;
        border: 1px solid black;
        padding: 5px;
        transition: all 0.3s ease;
        position: absolute;
        left: 65%;
        background-color: black;
        border-radius: 10px;
    
    
    }
    
    
    .service-wrapper-two h3:hover {
        background-color: #be1d1d;
        font-size: 3rem;
    }
    
    .service-wrapper-two h3:active {
        transform: translateY(1px);
    }
    
    
    .contact {
        max-width: 1170px;
        text-align: center;
        margin: auto;

    }

    .contact p {
        font-size: 2rem;

    }
    .coint{
        max-width: 1170px;
        margin: auto;
    }
    .container-wrapper{
        font-size: 2rem;
    }
    footer {
        background-color:lightslategray;
        padding: 20px;
        text-align: center;
        max-width: 1170px;
        margin: auto;
        
    }
    footer p{
        font-size: 2rem;
    }
    
    .contacts {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .contacts-details {
        flex-basis: 45%;
        padding-right: 20px; /* Adjust spacing between contact details and map */
    }
    
    .contacts-details h2 {
        margin-bottom: 10px;
        color: black;
        margin-bottom: 10px;
    }
    
    .contacts-details article {
        margin-bottom: 15px;
        margin-top: 15px;
    }
    
    .contacts-details h3 {
        font-size:2.5rem;
        margin-bottom: 5px;
        margin-top: 5px;
    }
    
    .contacts-details p {
        margin-bottom: 5px;
        margin-top: 5px;
    }
    
    .social-links a {
        margin-right: 10px; /* Adjust spacing between social media icons */
    }
    
    .appointment {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .appointment a {
        display: inline-block;
        padding: 10px 20px;
        border: 1px solid #45a049;
        background-color: #45a049;
        color: white;
        text-decoration: none;
        border-radius: 10px;
        transition: background-color 0.3s ease;
    }
    
    .appointment a:hover {
        background-color: black;
    }
    
  

    /* contact us page----
    --------
    ----
    */
  

    label {
        font-size: 2rem;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        font-size: 2rem;
        
        margin-bottom: 20px;
    }

   
    /* for about page*/
    .card {
        display: grid;
        grid-template-columns: repeat(3, minmax(300px, 1fr));
        gap: 20px;
        padding: 20px;
        text-align: center;
        margin-top: 80px;
        max-width: 1170px;
        margin: auto;
        
        
    }
    
    .card-wrapper {
        border: 2px solid red;
        padding: 20px;
        border-radius: 70px;
        background-color:lightgray;
        color:black;
    }
    .card-wrapper img{
        width: 100%;
    }
    .card-wrapper h2{
        font-size: 4rem;
        color: darkred;
    }
    .card-wrapper p{
        font-size: 1.5rem;
        width: 95%;
        margin-top: 20px;
    }
    .card-wrapper:hover{
        background-color: black;
        color: silver;
        opacity: 70%;
    }
    
    
}