html {
    font-size: 62.5%;
}

body {
    background-color: ;
    font-family: 'Ubuntu' sans-serif;
}

/* working on header*/
header {
    background-color:black;
    background-size: cover;
    background-repeat: no-repeat;


}

/* styles for navigation*/
/* working on navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

}



/*styling for logo */
.navbar img {
    width: 40%;
}

/* styles for navigation links */
.nav-links {
    display: none;
    list-style: none;
}

.nav-links.active {
    display: flex;
    flex-direction: column;
}

.nav-links li {
    margin-bottom: 10px;

}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
}
.nav-links a:hover{
    background-color: yellowgreen;
}

/* Humburger menu*/
/* Styles for the hamburger menu */
.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fa-facebook {
    font-size: 4rem;
    margin-left: 10rem;
    color: blue;
}

.fa-instagram {
    font-size: 4rem;
    margin-left: 10rem;
    color: red;
}

.hamburger {
    width: 100%;
    height: 4px;
    background-color: white;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    position: relative;
    right: 20px;
}

/* Styling for the active menu icon */
.menu-toggle.active .hamburger:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.menu-toggle.active .hamburger:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active .hamburger:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.hero {
    position: relative;
}

.hero video {
    width: 100%;
}

.hero h1 {
    position: absolute;
    align-items: center;
    left: 35%;
    top: 5%;
    color: rgba(0, 255, 166, 0.551);
    width: 30%;
    font-size: 2rem;
}

.about {

    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: #333;

}
.about img{
    width: 40rem;
}

.about h2 {
    font-size: 3rem;
    color: darkred;

}

.about-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.about p {
    font-size: 2rem;
    color: black;
    width: 100%;
}

/* Styling for the services section */
.services {
    text-align: center;
}

.service-content  {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.service-content h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: black;
    margin-right: 5%;
}
.services-container {
    display: grid;
    grid-gap: 10px; /* Adjust the gap between items */
    margin-top: 1px;
    text-align: center;
}
.service-wrapper {
    margin-top: 50px;
    background-image: url('images/NMAS.png');
    background-repeat: no-repeat;
    padding: 45%;
    text-align: center;
    background-position: center;
    color:white;
}

.service-wrapper h3 {
    font-size: 3rem;
    width: 50%;
    cursor: pointer;
    border: 1px solid black;
    position: absolute;
    left: 40%;
    background-color: black;

}


.service-wrapper h3:hover {
    background-color: #be1d1d;
}

.service-wrapper h3:active {
    transform: translateY(1px);
}

.service-wrapper-one {
    margin-top: 50px;
    background-image: url('images/Accounting.jpeg');
    background-repeat: no-repeat;
    padding: 45%;
    text-align: center;
    background-position: center;
    color:white;
}

.service-wrapper-one h3 {
    font-size: 3rem;
    width: 40%;
    cursor: pointer;
    border: 1px solid black;
    position: absolute;
    left: 38%;
    background-color: black;


}


.service-wrapper-one h3:hover {
    background-color: #be1d1d;
}

.service-wrapper-one h3:active {
    transform: translateY(1px);
}
.service-wrapper-two {
    margin-top: 50px;
    background-image: url('images/tax.png');
    background-repeat: no-repeat;
    padding: 45%;
    text-align: center;
    background-position: center;
    color:white;
}

.service-wrapper-two h3 {
    font-size: 3rem;
    width: 40%;
    cursor: pointer;
    border: 1px solid black;
    position: absolute;
    left: 40%;
    background-color: black;


}


.service-wrapper-two h3:hover {
    background-color: #be1d1d;
}

.service-wrapper-two h3:active {
    transform: translateY(1px);
}

.services a {
    text-decoration: none;
    color: black;
}
.services a:hover{
    background-color: yellowgreen;
}

.contact {
    padding: 20px;
    color: black;
}

.contact a {
    text-decoration: none;
    color: black;
    font-size: 80%;
}

.contact h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: darkgreen;
}

.contact p {
    font-size: 2rem;
}

article {
    margin-bottom: 15px;
}

article h3 {
    font-size: 2.5rem;
    margin-bottom: 5px;
}

article p {
    margin: 0;
    font-size: 2rem;
}

/* Form styles */
form {
    margin-top: 20px;
    font-size: 3rem;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 2.4rem;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 2.2rem;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="submit"]:focus {
    outline: none;
}

.contact img {
    margin: 15px;
    padding: 10px;
}
.containwraper a {
    border: 1px solid;
    background-color: #45a049;
    padding: 1rem;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    border-radius: 10px;
text-align: center;
}

.containwraper a:hover {
    background-color: black;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid black;
    padding: 20px;
    font-size: 2.5rem;
    color: #333;

}
/* for services page*/
/* Section containing services */
.services-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* Individual service */
.service-one {
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    flex: 1 1 300px; /* Adjust as needed */
    color: aliceblue;
}

/* Service titles */
.service h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Service links */
.service-one  a {
    text-decoration: none;
    color:white;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 18px;
}
.service-one a:hover{
    background-color: black;
}

/* Service description */
.service p {
    font-size: 16px;
    margin-bottom: 15px;
}

/* Service lists */
.service ul {
    list-style: none;
    padding: 0;
}

/* Service list items */
.service li {
    margin-bottom: 5px;
}
.coint{
    text-align: center;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

/* "Book Appointment" button */
.container-wrapper a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    margin-left: 1%;
    margin-bottom: 10px;
}

.container-wrapper a:hover {
    background-color: black;
}
.card{
    display: grid;
    grid-template-columns: 3,1;
}


/* Media queries for tablet (720px) */
@media (min-width: 601px) and (max-width: 1024px) {

    header {
        padding: 15px 30px;
    }

    .navbar {
        display: block;
        align-items: center;
    }

    .navbar img {
        width: 20%;
    }

    .nav-links {
        display: flex;
        list-style: none;
    }

    .nav-links li {
        margin-right: 20px;
    }

    .nav-links a {
        text-decoration: none;
        color: white;
        font-size: 4rem;
    }

    .menu-toggle {
        display: none;
    }

    .hero h1 {
        font-size: 4rem;
    }

    
    .services h2 {
        font-size: 5rem;
        color: darkred;
    }


    .contact h2 {
        font-size: 5rem;
        color: darkgreen;
    }

    .contact p {
        font-size: 4rem;
    }

    article h3 {
        font-size: 5rem;
    }

    article p {
        font-size: 2rem;
    }

    form {
        font-size: 5rem;
    }

    label {
        font-size: 5rem;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        font-size: 4.6rem;
    }

    footer {
        font-size: 4rem;
    }

}

/* Media query for larger desktop screens */
@media (min-width: 1200px) {
    

    .navbar {
        display: flex;
        align-items: center;
        max-width: 1170px;
        margin: auto;
    }
    
    .navbar img {
        width: 20%;
    }
    .nav-links {
        display: flex;
        list-style: none;
        margin: auto;
    }

    .nav-links li {
        margin-right: auto;
        /* Add some space between the list items */
    }

    .nav-links a {
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
        margin-left: 100px;

    }

   

    .menu-toggle {
        display: none;
    }

    .hero h1 {
        font-size: 8rem;
        width: 50%;
        text-align: center;
        margin-left: -10%;
    }

    .about h2 {
        font-size: 4rem;
    }

    .about p {
        font-size: 2rem;
        text-align: center;
        margin-left: 100px;
        margin-right: 100px;
    }

    .about{
        max-width: 1170px;
        margin: auto;
    }
/* starting styling for services */
    .services{
        max-width: 1170px;
        margin: auto;
    }
.services h2 {
        font-size: 4rem;
       
    }
    .services-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
        grid-gap: 10px; /* Adjust the gap between items */
        margin-top: 50px;
    }
    .service-wrapper {
        margin-top: 50px;
        background-image: url('images/NMAS.png');
        background-repeat: no-repeat;
        padding: 40%;
        text-align: center;
        background-position: center;
        color:white;
    }
    
    .service-wrapper h3 {
        font-size: 2.5rem;
        width: 20%;
        cursor: pointer;
        border: 1px solid black;
        padding: 5px;
        transition: all 0.3s ease;
        position: absolute;
        left: 14%;
        background-color: black;
        border-radius: 10px;

    
    }
    
    
    .service-wrapper h3:hover {
        background-color: #be1d1d;
        font-size: 4rem;
    }
   
    
    .service-wrapper-one {
        margin-top: 50px;
        background-image: url('images/Accounting.jpeg');
        background-repeat: no-repeat;
        padding: 40%;
        text-align: center;
        background-position: center;
        color:white;
    }
    
    .service-wrapper-one h3 {
        font-size: 2.5rem;
        width: 20%;
        cursor: pointer;
        border: 1px solid black;
        padding: 5px;
        transition: all 0.3s ease;
        position: absolute;
        left: 39%;
        background-color: black;
        border-radius: 10px;

    
    
    }
    
    .service-wrapper-one h3:hover {
        background-color: #be1d1d;
        font-size: 3rem;
    }
    
    .service-wrapper-one h3:active {
        transform: translateY(0px);
    }
    .service-wrapper-two {
        margin-top: 50px;
        background-image: url('images/tax.png');
        background-repeat: no-repeat;
        padding: 40%;
        text-align: center;
        background-position: center;
        color:white;
    }
    
    .service-wrapper-two h3 {
        font-size: 2.5rem;
        width: 20%;
        cursor: pointer;
        border: 1px solid black;
        padding: 5px;
        transition: all 0.3s ease;
        position: absolute;
        left: 65%;
        background-color: black;
        border-radius: 10px;
    
    
    }
    
    
    .service-wrapper-two h3:hover {
        background-color: #be1d1d;
        font-size: 3rem;
    }
    
    .service-wrapper-two h3:active {
        transform: translateY(1px);
    }
    
    
    .contact {
        max-width: 1170px;
        margin-left: 5%;
        text-align: center;

    }

    .contact p {
        font-size: 2rem;
    }
}