html {
    font-size: 62.5%;
}

body {
    background-color: rgb(143, 148, 148);
    font-family: 'Ubuntu' sans-serif;
}

/* working on header*/
header {
    background-color: #f1efed;
    padding: 10px 20px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;

}

/* styles for navigation*/
/* working on navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/*styling for logo */
.logo img {
    max-width: 100%;
}

/* styles for navigation links */
.nav-links {
    display: none;
    list-style: none;
}

.nav-links.active {
    display: flex;
    flex-direction: column;
}

.nav-links li {
    margin-bottom: 10px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
}

/* Humburger menu*/
/* Styles for the hamburger menu */
.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger {
    width: 100%;
    height: 3px;
    background-color: #333;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Styling for the active menu icon */
.menu-toggle.active .hamburger:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.menu-toggle.active .hamburger:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active .hamburger:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.hero {
    position: relative;
}
.hero video{
    width: 100%;
}

.hero h1{
    position: absolute;
    align-items: center;
    left: 35%;
    top: 5%;
    color:darkgreen ;
    width: 30%;
}
.about {
    width: 80%; /* Adjust width as needed */
    margin: 0 auto;
    padding-top: 20px; /* Adjust spacing as needed */
    text-align: justify;
    color: #333;
    position: relative;
    z-index: 1; 
    top: 80%;
}
/* Styling for the services section */
.services {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
}

.services h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.services article {
    margin-bottom: 30px;
}

.services article h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.services article p {
    margin-bottom: 10px;
}

.services ul {
    padding-left: 10%;
}

.services li {
    margin-bottom: 5px;
}

.services a {
    text-decoration: none;
    color:#333;
}

