html {
    font-size: 62.5%;
}

body {
    background-color: azure;
    font-family: 'Ubuntu' sans-serif;
}

/* working on header*/
header {
    background-color: #f8f8f8;
    padding: 10px 20px;
}

/* styles for navigation*/
/* working on navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/*styling for logo */
.logo img {
    max-width: 100%;
}

/* styles for navigation links */
.nav-links {
    display: none;
    list-style: none;
}

.nav-links.active {
    display: flex;
    flex-direction: column;
}

.nav-links li {
    margin-bottom: 10px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
}

/* Humburger menu*/
.menu-toogle{
    
}