html {
    font-size: 62.5%;
}

body {
    background-color: lightslategray;
margin: 0 px;
}

/* working on header*/
header {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;


}

/* using two font styles*/
h1,
h2,
h3 {
    font-family: 'Ubuntu' Arial, Helvetica, sans-serif;

}

p {
    font-family: 'Lato', sans-serif;

}

/* styles for navigation*/
/* working on navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

}



/*styling for logo */
.navbar img {
    width: 40%;
}

/* styles for navigation links */
.nav-links {
    display: none;
    list-style: none;
}

.nav-links.active {
    display: flex;
    flex-direction: column;
}

.nav-links li {
    margin-bottom: 10px;

}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 3rem;
}

.nav-links a:hover {
    background-color: yellowgreen;
}

/* Humburger menu*/
/* Styles for the hamburger menu */
.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.fa-facebook {
    font-size: 4rem;
    margin-left: 4rem;
    color: blue;
    text-align: center;
}

.fa-instagram {
    font-size: 4rem;
    margin-left: 4.5rem rem;
    color: red;
    text-align: center;
}

.hamburger {
    width: 100%;
    height: 4px;
    background-color: white;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    position: relative;
    right: 20px;
}

/* Styling for the active menu icon */
.menu-toggle.active .hamburger:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.menu-toggle.active .hamburger:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active .hamburger:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.hero {
    position: relative;

}

.hero img {
    width: 100%;
}

.hero video {
    width: 100%;
    display: none;
}

.hero h1 {
    position: absolute;
    align-items: center;
    left: 18%;
    top: 3%;
    color: white;
    width: 70%;
    font-size: 4rem;
    background-color: black;
    opacity: 50%;
}


.about {

    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: #333;
    border-bottom: 2px solid white;
    max-width: 1170px;
    margin: auto;
    text-align: center;
}

.about img {
    width: 80%;
}

.about h2 {
    font-size: 3rem;
    color: white;

}

.about-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.about p {
    font-size: 1.5rem;
    color: black;
    width: 100%;
}

/* Styling for the services section */
.services {
    text-align: center;
}

.service-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    max-width: 1170px;
    margin: auto;
    flex-wrap: wrap;
}


.service-content h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: white;
    margin-right: 5%;
}

.service-content p {
    font-size: 1.5rem;
    margin: auto;
    margin-top: 40px;
}

.main-Service {
    max-width: 1170px;
    margin: auto;
    display: block;
    text-align: center;
    border-top: 2px solid white;

}

.main-Service h2 {
    font-size: 3rem;
    margin-top: 40px;
    color: white;
}

.main-Service p {
    font-size: 1.5rem;
    text-align: center;
}

.services-container {
    display: grid;
    grid-gap: 10px;
    /* Adjust the gap between items */
    margin-top: 1px;
    text-align: center;
    max-width: 1170px;
    margin: auto;
}

.service-wrapper {
    margin-top: 50px;
    background-image: url('images/NMAS.png');
    background-repeat: no-repeat;
    padding: 45%;
    text-align: center;
    background-position: center;
    color: white;
}

.service-wrapper h3 {
    font-size: 3rem;
    width: 50%;
    cursor: pointer;
    border: 1px solid black;
    position: absolute;
    left: 40%;
    background-color: black;

}


.service-wrapper h3:hover {
    background-color: #be1d1d;
}

.service-wrapper h3:active {
    transform: translateY(1px);
}

.service-wrapper-one {
    margin-top: 50px;
    background-image: url('images/Accounting.jpeg');
    background-repeat: no-repeat;
    padding: 45%;
    text-align: center;
    background-position: center;
    color: white;
}

.service-wrapper-one h3 {
    font-size: 3rem;
    width: 40%;
    cursor: pointer;
    border: 1px solid black;
    position: absolute;
    left: 38%;
    background-color: black;


}


.service-wrapper-one h3:hover {
    background-color: #be1d1d;
}

.service-wrapper-one h3:active {
    transform: translateY(1px);
}

.service-wrapper-two {
    margin-top: 50px;
    background-image: url('images/tax.png');
    background-repeat: no-repeat;
    padding: 45%;
    text-align: center;
    background-position: center;
    color: white;
}

.service-wrapper-two h3 {
    font-size: 3rem;
    width: 40%;
    cursor: pointer;
    border: 1px solid black;
    position: absolute;
    left: 40%;
    background-color: black;


}


.service-wrapper-two h3:hover {
    background-color: #be1d1d;
}

.service-wrapper-two h3:active {
    transform: translateY(1px);
}

.services a {
    text-decoration: none;
    color: white;
}

.services a:hover {
    background-color: yellowgreen;
}

.contact {
    padding: 20px;
    color: black;
}

.contact a {
    text-decoration: none;
    color: black;
    font-size: 80%;
}

.contact h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: darkgreen;
}

.contact p {
    font-size: 2rem;
}

article {
    margin-bottom: 15px;
}

article h3 {
    font-size: 2.5rem;
    margin-bottom: 5px;
}

article p {
    margin: 0;
    font-size: 2rem;
}

/* Form styles */
form {
    margin-top: 20px;
    font-size: 3rem;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 2.4rem;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 2.2rem;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="submit"]:focus {
    outline: none;
}

/* Footer styles */

footer {
    background-color: lightslategray;
    padding: 20px;

}

footer img {
    width: 95%;
    margin-top: 20px;
}

.contacts {
    display: block;
    background-color: lightslategray;
    max-width: 1170px;
    margin: auto;
    text-align: center;
}

.contacts-details {
    flex-basis: 45%;
    padding-right: 20px;
    /* Adjust spacing between contact details and map */
    margin-top: 40px;
}

.contacts-details h2 {
    margin-bottom: 10px;
    font-size: 4rem;
}

.contacts-details article {
    margin-bottom: 15px;
}

.contacts-details article a {
    font-size: 2rem;
    margin-bottom: 5px;
    margin-top: 15px;
    color: black;
}

.contacts-details p {
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 2rem;
}

.social-links a {
    margin-right: 10px;
    /* Adjust spacing between social media icons */
}

.appointment {
    margin-top: 15px;
}

.appointment a {
    display: inline-block;
    padding: 10px 15px;
    border: 1px solid #45a049;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    font-size: 2rem;
}

.appointment a:hover {
    background-color: black;
}

.disclaimer {
    font-size: 2rem;
    margin-top: 20px;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

.map {
    margin-top: 20px;
    margin-right: 10rem;
    display: flex;
}

/* for services page*/
/* Section containing services */
.services-wrapper {
    display: flex;
    text-align: center;
    margin-top: 20px;
    max-width: 1170px;
    margin: auto;

}

.service-one li {
    border-collapse: collapse;
    width: 100%;

}

/* Individual service */
.service-one th {
    border: 1px solid white;
    padding: 8px;
    font-size: 2rem;
    text-align: center;
    color: white;
}

.service-one tr {
    border: 1px solid white;
}

/* Service links */
.service-one a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 10px;
    font-size: 2rem;
}


.service-one td {
    border: 1px solid white;
    text-align: left;
    padding: 8px;
    font-size: 1rem;
}

.coint {
    text-align: center;
    border-top: 2px solid black;
}

/* "Book Appointment" button */
.container-wrapper a {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    margin-left: 1%;
    margin-bottom: 10px;
}

.container-wrapper a:hover {
    background-color: black;
}

/*for about page
-
-
*/


.card {
    display: grid;
    grid-template-columns: repeat(autofit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    text-align: center;
    margin-top: 20px;

}

.card-wrapper {
    border: 2px solid red;
    padding: 20px;
    border-radius: 50px;
    background-color: lightgray;
    color: black;
}

.card-wrapper img {
    width: 65%;
}

.card-wrapper h2 {
    font-size: 4rem;
    color: darkred;
}

.card-wrapper:hover {
    background-color: black;
    color: silver;
}

.card-wrapper p {
    font-size: 1.5rem;
    margin-top: 20px;
}


/* Media query for larger desktop screens */
@media (min-width: 1200px) {


    .navbar {
        display: flex;
        align-items: center;
        max-width: 1170px;
        margin: auto;
    }

    .navbar img {
        width: 30%;
    }

    .nav-links {
        display: flex;
        list-style: none;
        margin: auto;
    }

    .nav-links li {
        margin-right: auto;
        /* Add some space between the list items */
    }

    .nav-links a {
        text-decoration: none;
        color: white;
        font-size: 2.5rem;
        margin-left: 100px;

    }



    .menu-toggle {
        display: none;
    }

    .hero img {
        display: none;
    }

    .hero video {
        width: 100%;
        display: inline-block;
    }

    .hero-content h1 {
        font-size: 7rem;
        width: 40%;
        text-align: center;
        margin-left: 10%;
        position: absolute;
        color: #fff;
        background-color: black;
        opacity: 40%;
        top: 15%;

    }

    .about h2 {
        font-size: 4rem;
    }

    .about p {
        font-size: 1.5rem;
        text-align: center;
margin-top: 20px;
margin-bottom: 20px;
    }

    .about {
        max-width: 1170px;
        margin: auto;
    }

    footer {
        font-size: 4rem;
        max-width: 1170px;
        margin: auto;
        background-color: lightslategray;
    }

    /* starting styling for services */
    .services {
        max-width: 1170px;
        margin: auto;
    }

    .service-content h2 {
        font-size: 4rem;
        color: white;

    }

    .main-Service {
        max-width: 1170px;
        margin: auto;
        display: block;
        text-align: center;
        border-top: 2px solid white;
        margin-top: 50px;

    }

    .main-Service h2 {
        font-size: 3rem;
        margin-top: 40px;
        color: white;
    }

    .main-Service p {
        font-size: 1.5rem;
        text-align: center;
    }

    .services-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* Three columns with equal width */
        grid-gap: 10px;
        /* Adjust the gap between items */
        margin-top: 50px;
    }

    .service-wrapper {
        margin-top: 50px;
        background-image: url('images/NMAS.png');
        background-repeat: no-repeat;
        padding: 40%;
        text-align: center;
        background-position: center;
        color: white;
    }

    .service-wrapper h3 {
        font-size: 2.5rem;
        width: 20%;
        cursor: pointer;
        border: 1px solid black;
        padding: 5px;
        transition: all 3s ease;
        position: absolute;
        left: 14%;
        background-color: black;
        border-radius: 10px;


    }


    .service-wrapper h3:hover {
        background-color: #be1d1d;
        font-size: 3rem;
    }


    .service-wrapper-one {
        margin-top: 50px;
        background-image: url('images/Accounting.jpeg');
        background-repeat: no-repeat;
        padding: 40%;
        text-align: center;
        background-position: center;
        color: white;
    }

    .service-wrapper-one h3 {
        font-size: 2.5rem;
        width: 20%;
        cursor: pointer;
        border: 1px solid black;
        padding: 5px;
        position: absolute;
        left: 39%;
        background-color: black;
        border-radius: 10px;
        transition: all 3s ease;



    }

    .service-wrapper-one h3:hover {
        background-color: #be1d1d;
        font-size: 3rem;
    }

    .service-wrapper-one h3:active {
        transform: translateY(0px);
    }

    .service-wrapper-two {
        margin-top: 50px;
        background-image: url('images/tax.png');
        background-repeat: no-repeat;
        padding: 40%;
        text-align: center;
        background-position: center;
        color: white;
    }

    .service-wrapper-two h3 {
        font-size: 2.5rem;
        width: 20%;
        cursor: pointer;
        border: 1px solid black;
        padding: 5px;
        position: absolute;
        left: 65%;
        background-color: black;
        border-radius: 10px;
        transition: all 3s ease;


    }


    .service-wrapper-two h3:hover {
        background-color: #be1d1d;
        font-size: 3rem;
    }

    .service-wrapper-two h3:active {
        transform: translateY(1px);
    }


    .contact {
        max-width: 1170px;
        text-align: center;
        margin: auto;

    }

    .contact p {
        font-size: 2rem;

    }

    .coint {
        max-width: 1170px;
        margin: auto;
    }

    .container-wrapper {
        font-size: 2rem;
    }

    footer {
        background-color: lightslategray;
        padding: 20px;
        text-align: center;
        max-width: 1170px;
        margin: auto;

    }

    footer p {
        font-size: 2rem;
    }

    footer img {
        margin-top: 20px;
        width: 100%;
    }

    .contacts {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    .contacts-details {
        flex-basis: 45%;
        padding-right: 20px;
        /* Adjust spacing between contact details and map */
    }

    .contacts-details h2 {
        margin-bottom: 10px;
        color: black;
        margin-bottom: 10px;
    }

    .contacts-details article {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .contacts-details h3 {
        font-size: 2.5rem;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .contacts-details p {
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .social-links a {
        margin-right: 10px;
        /* Adjust spacing between social media icons */
    }

    .appointment {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .appointment a {
        display: inline-block;
        padding: 10px 20px;
        border: 1px solid #45a049;
        background-color: #45a049;
        color: white;
        text-decoration: none;
        border-radius: 10px;
        transition: background-color 0.3s ease;
    }

    .appointment a:hover {
        background-color: black;
    }

    .map {
        margin-top: 80px;
        margin-right: 50px;
    }


    /* contact us page----
    --------
    ----
    */


    label {
        font-size: 2rem;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        font-size: 2rem;

        margin-bottom: 20px;
    }


    /* for about page*/
    .card {
        display: grid;
        grid-template-columns: repeat(3, minmax(300px, 1fr));
        gap: 20px;
        padding: 20px;
        text-align: center;
        margin-top: 80px;
        max-width: 1170px;
        margin: auto;


    }

    .card-wrapper {
        border: 2px solid red;
        padding: 20px;
        border-radius: 70px;
        background-color: lightgray;
        color: black;
    }

    .card-wrapper img {
        width: 100%;
    }

    .card-wrapper h2 {
        font-size: 4rem;
        color: darkred;
    }

    .card-wrapper p {
        font-size: 1.5rem;
        width: 95%;
        margin-top: 20px;
    }

    .card-wrapper:hover {
        background-color: black;
        color: silver;
        opacity: 70%;
    }

    /*for service page*/
    .services-wrapper {
        display: flex;
        padding: 20px;
        text-align: center;
        margin-top: 20px;
        max-width: 1170px;
        margin: auto;

    }

    .service-one li {
        border-collapse: collapse;
        width: 100%;

    }

    /* Individual service */
    .service-one th {
        border: 1px solid white;
        padding: 8px;
        font-size: 3.5rem;
        text-align: center;
        color: white;
    }

    .service-one tr {
        border: 1px solid white;
    }

    /* Service links */
    .service-one a {
        text-decoration: none;
        font-size: 18px;
        padding: 10px;
        font-size: 3rem;
        text-align: center;
        color: black;
    }


    .service-one td {
        border: 1px solid white;
        text-align: center;
        padding: 8px;
        font-size: 2rem;
    }

}