html {
    font-size: 62.5%;
}

body {
    background-color: rgba(203, 194, 14, 0.367);
    font-family: 'Ubuntu' sans-serif;
}

/* working on header*/
header {
    background-color: rgba(203, 194, 14, 0.367);
    padding: 10px 20px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;

}

/* styles for navigation*/
/* working on navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/*styling for logo */
.logo img {
    width: 60%;
    margin-left: 10%;
}

/* styles for navigation links */
.nav-links {
    display: none;
    list-style: none;
}

.nav-links.active {
    display: flex;
    flex-direction: column;
}

.nav-links li {
    margin-bottom: 10px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 2.4rem;
}

/* Humburger menu*/
/* Styles for the hamburger menu */
.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hamburger {
    width: 100%;
    height: 3px;
    background-color: black;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Styling for the active menu icon */
.menu-toggle.active .hamburger:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.menu-toggle.active .hamburger:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active .hamburger:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.hero {
    position: relative;
}

.hero video {
    width: 100%;
}

.hero h1 {
    position: absolute;
    align-items: center;
    left: 35%;
    top: 5%;
    color: rgba(0, 255, 166, 0.551);
    width: 30%;
    font-size: 2rem;
}

.about {
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: #333;
}

.about h2 {
    font-size: 3rem;

}

.about p {
    font-size: 2rem;
    color: black;
}

/* Styling for the services section */
.services {
    padding: 20px;
}

.services h2 {
    font-size: 3rem;
    margin-bottom: 20px;
    color: black;
}

.services article {
    margin-bottom: 30px;
}

.services article h3 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.services article p {
    margin-bottom: 10px;
    font-size: 2.2rem;
    color: black;

}

.services ul {
    padding-left: 10%;
    font-size: 2rem;
    color: black;
}

.services li {
    margin-bottom: 5px;
}

.services a {
    text-decoration: none;
    color: black;
}

.contact {
    max-width: 800px;
    padding: 20px;
    color: black;
}

.contact a {
    text-decoration: none;
    color: black;
}

.contact h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.contact p {
    font-size: 2rem;
}

article {
    margin-bottom: 15px;
}

article h3 {
    font-size: 2.5rem;
    margin-bottom: 5px;
}

article p {
    margin: 0;
    font-size: 2rem;
}

/* Form styles */
form {
    margin-top: 20px;
    font-size: 3rem;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 2.4rem;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 2.2rem;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="submit"]:focus {
    outline: none;
}

.contact img {
    margin: 15px;
    padding: 10px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid black;
    padding: 20px;
    font-size: 2.5rem;
    color: #333;

}

/* Media queries for tablet (720px) */
@media (min-width: 601px) and (max-width: 1024px) {
    header {
        padding: 15px 30px;
    }

    .navbar {
        display: block;
        align-items: center;
    }

    .logo img {
        width: 50%;
    }

    .nav-links {
        display: flex;
        list-style: none;
        padding: 0;
    }

    .nav-links li {
        margin-right: 20px;
        /* Add some space between the list items */
    }

    .nav-links a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 4rem;
    }

    .menu-toggle {
        display: none;
    }

    .hero h1 {
        font-size: 4rem;
    }

    .about h2 {
        font-size: 5rem;
    }

    .about p {
        font-size: 3.5rem;
    }

    .services h2 {
        font-size: 5rem;
    }

    .services article h3 {
        font-size: 4.8rem;
    }

    .services article p {
        font-size: 4rem;
    }

    .services ul {
        font-size: 3.5rem;
    }

    .contact h2 {
        font-size: 5rem;
    }

    .contact p {
        font-size: 4rem;
    }

    article h3 {
        font-size: 5rem;
    }

    article p {
        font-size: 2rem;
    }

    form {
        font-size: 5rem;
    }

    label {
        font-size: 5rem;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        font-size: 4.6rem;
    }

    footer {
        font-size: 4rem;
    }

}
/* Media query for larger desktop screens */
@media (min-width: 1200px) {
    header {
        padding: 15px 30px;
    }
    .navbar{
        display: block;
        align-items: center;
    }
    .nav-links {
        display: flex;
        list-style: none;
        padding: 0;
    }   
    .menu-toggle {
        display: none;
    }

    
}